body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #07051a;
}

form {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 100px;
    height: 100px;
    background: white;
    box-sizing: border-box;
    border-radius: 50px;
    border: 8px solid white;
    padding: 10px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    line-height: 60px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 2em;
    border-radius: 40px;
    padding: 0 40px;
}

.fa {
    box-sizing: border-box;
    padding: 20px;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 2.4em;
    transition: all 1s;
}

form:hover {
    width: 1000px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #07051a;
    color: white;
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    top: 180%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
}

.toggle:before {
    content: "SVD RAW";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -31px;
    word-spacing: 46px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
    background-color: #707070;
}

.toggle:checked:before {
    left: 50px;
}
