<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <form action="{{ url_for('search') }}" method="POST" role="search" autocomplete="off">
        <input class="toggle" name="svd" type="checkbox" checked/>
        <input type="search" name="search-input" placeholder="Search...">
        <i class="fa fa-search"></i>
    </form>
</body>
</html>